[2016-08-24 14:19] kkwiatkowski opened #14 "API is not enough flexible"
API could be more flexible in terms of README.md example:

[code]

`odoo` could just return newly created node with SVG instead of mounting it directly to global DOM, so you could use it for example in node.js env.
Also, there could be an additional helper to preserve previous functionality.
## example

[code]

[2016-08-24 14:22] kkwiatkowski opened #15 "Support for es6 imports"
It would be great to give ability to import your library as ES6 module (without transpilation) in projects written in ES6 (there is possiblity to import in such way with [rollup](https://github.com/rollup/rollup)).

[Only one additional key in package.json is needed.](https://github.com/rollup/rollup/wiki/jsnext:main)

[2016-08-24 15:08] coderitual commented on #15
Good point. I will add it!

[2016-08-24 23:04] coderitual commented on #14
Yes. I also consider moving to rollup + babel and get rid of this strange **default** property (umd)

[2016-08-28 12:41] ershad989 opened #16 "Text Support"
Hi,

This is a really nice job, I've been using odometer.js util now but I switched to this one, I have a request and I think lots of people will appreciate it if you fulfill it and that is to include text support too, I mean the odometer effect for texts too like from "000000" to "100 thousand +"

[2016-08-28 14:30] Aminerman opened #17 "From current value to new value"
Hello,

That's an amazing tool and that's exactly what I was looking for. Thought I have a question.
Is there a way to make it start from a value, for example 2016, instead of having it starting from 0? I'm trying to make some kind of timeline where each slide starts from a value that is incremented in each slide.

[2016-08-28 18:07] coderitual commented on #17
Hi, there is no such functionality at the moment.

As you can see the library accepts `value` parameter as a template from which all numbers are taken. The latter are animated.

Also support different length of string in `to` and `from` could be tricky.
[code]

However, this is just a matter of consistent and clear API and could be introduced in one of the next releases as soon as I find clean sol

[2016-08-28 18:26] coderitual commented on #16
Thanks for the good idea. I will take that into consideration. Unfortunately this is not as easy as I'd like (referring to this issue #17). In the near future I will try to experiment with this on a separate branch.

[2016-08-28 18:30] ershad989 commented on #16
That'ed be awesome, I can't wait to see that effect in action

[2016-08-28 23:49] melvincarvalho opened #20 "Is it possible to change the color on a white background?"
I tried something like

[code]

But it always shows up as white on white ...

[2016-08-29 06:44] coderitual commented on #20
It's a bug. Thanks for reporting this. Color should be handled by fill attribute in css (as it is a svg).

[2016-08-30 19:53] coderitual commented on #20
Hi, now you can change the color with css. As it is a svg element you need to use `fill` instead of `color`. The cool thing is that you could use some additional attributes like `stroke`.

[code]

[2016-08-30 19:53] #20 closed

[2016-09-01 08:18] iManu opened #24 "Rotation up"
Hi,
I search how to make rotation occurs up, because now chars go to down.
When inverting from & to with 0 & targetDistance, the rotation go to up. This is what I want.
But the digits are inverted too :( and the rotation ends by 0…

I suppose things have to be modified in transition.js but it's painfull for me. Can you help please ?!

Regards

[2016-09-03 10:16] coderitual commented on #24
Hi! Sorry for the delay. I am going to add `reverse` option soon. Until then you can check above commit on branch [feature/#24](https://github.com/coderitual/odoo/tree/feature/%2324). You only need to change sign in 2 places.

[2016-09-05 13:08] iManu commented on #24
Great ! Thank you. Perfect and tiny solution :)

[2016-09-08 07:35] Takeos opened #26 "update number"
Hi，
I want to update the number of real-time ，What should I do 。。（渣渣英语，但愿你能看懂。）

[2016-09-08 07:55] coderitual commented on #26
Do you mean updating value after animation ends? Probably what you are looking for are `from` and `to` options. But they aren't implemented yet.

[2016-09-08 08:11] Takeos commented on #26
yep，i want  animation ends than  Continue to change the value and not starting from 0。

[2016-09-08 10:58] coderitual commented on #26
Ok this is related to #17.

[2016-09-08 10:58] #26 closed

[2016-09-14 10:02] #24 closed

[2016-09-16 14:51] ershad989 opened #27 "Problem with more than 2 odometers!"
Hi, I've craeted a Pen on codepen.io; here it is:   [http://codepen.io/ershad989/pen/WGwjqj](http://codepen.io/ershad989/pen/WGwjqj)

As you can see I've defined 3 odometers but only of them shows up!!
The other problem is that if one of the numbers has 3 digits and the other one has 4 or more digits only 3 of them is visible!!

So here we have three numbers, 1st one has 3 digits, 2nd one has 4 di

[2016-09-16 15:14] coderitual commented on #27
Hi! Unfortunately it is caused by internal implementation (using global id's of elements instead of references) Also applying filters is possible only using filter id. Simple solution would be to have unique prefix/salt added to elements identifiers. I will try to fix this problem. Thanks for raising it.

[2016-09-16 16:35] ershad989 commented on #27
Thank you for your qick reply.

I don't know if you've noticed but I mentioned 2 problems! are they both beacuse of  internal implementation?

[2016-09-16 17:46] ershad989 commented on #27
Here is another Pen. I think I followed your advice but it's still not working: [http://codepen.io/ershad989/pen/ALXrgY](http://codepen.io/ershad989/pen/ALXrgY)

Would it be possible if you create a Pen and show me how to temporarily solve it until yu fix the bug?

[2016-09-16 18:27] coderitual commented on #27
Yea, both of them are cased by the implementation. Because of font loading issue width of the layer is computed every frame and one instance could easily override a settings of the others. Once I get access to my laptop I'll show you what I mean.

[2016-09-16 22:05] coderitual commented on #27
This shoudl be fixed now. http://codepen.io/coderitual/pen/GjqypE
On my pen I use dev branch but it's merget to the master as well. Not sure why git cdn from master keeps old cached value.

[2016-09-16 22:05] #27 closed

[2016-09-17 11:14] ershad989 opened #29 "Make Blur and Gradient optional!"
Hi Michał,

This library is very awesome, animations are smooth and they look very fluent and beautiful. I think to make it much more better it would be great if you could make the Blur and Gradient effects optional, so that if a project overall styles requires the counter to be plain and simple without those fancy effect it would be possible and there would be no need to turn into other libreries

[2016-09-17 12:37] coderitual commented on #29
Hi! The main reason I didn't use odometer.js and created this library was lack of those effetcs. I consider making them optional though, but in different way than by providing boolean flags.

[2016-10-09 07:34] qiuyaofan opened #30 "number not show ,but if I remove the attr filter,number show."

[2016-10-09 09:19] coderitual commented on #30
Hi. Could you provide more details? What are the  device and the browser you were testing on?

[2016-10-24 20:34] ershad989 opened #31 "The Error in the Console"
I get this error:
odoo.js:1 Uncaught TypeError: Cannot read property 'setAttribute' of null
    at e.default (http://localhost:9001/js/plugins/odoo.js:1:5038)
    at step (http://localhost:9001/js/plugins/odoo.js:1:4271)
    at Object.b [as update](http://localhost:9001/js/plugins/odoo.js:1:6819)
    at http://localhost:9001/js/plugins/odoo.js:1:4622
    at Array.forEach (native)
    at q (http://

[2016-10-24 20:54] coderitual commented on #31
Hi, I encountered this bug recently. Are you using pure odoo.js library or along with other library that manipulates the DOM (eg. React)?

[2016-10-25 00:12] ershad989 commented on #31
I'm using Barba.js to have fluent page transitions. this happens when I click the button that takes me to the other page. odoo still works but the console is overwhelmed with this error

[2016-10-25 11:35] coderitual commented on #31
Ok i get it. What you need to do is to cancel animation from being working by calling what is returned by the odoo (or odoo.default if you don't use es6 modules).

`
const cancel = odoo.default({ el: '.js-odoo', value: '£42,000,000' });
cancel();
`

This cancels outgoing animation and prevents these errors.

You need to call cancel before DOM element related to previous view is removed.

[2016-10-25 15:31] ershad989 commented on #31
So you mean to cancel the animation I have call the function again?! because I think that's what you did!!
you call it once it starts then you call it again it stops?!

[2016-10-25 16:16] coderitual commented on #31
This is a different function. Calling odoo returns function which you can call to cancel animation.

[2016-10-28 07:08] coderitual opened #32 "Lack of shadow on part of the element"
On the part of the element generated with lib there are no shadows. It occurs on iOS mobile devices with retina display. Its especially visible on iPads. Tested on iPad 3, iPad Pro, iPhone 6 Plus.

[2016-10-28 07:23] #32 closed

[2016-11-01 21:49] coderitual commented on #16
Hi, I have started to work on that feature. Right now you can preview it here: http://codepen.io/coderitual/full/QKezVb/

[2016-11-01 22:55] ershad989 commented on #16
WOW That's awesome!! Good job and Thanks a lot. when would it be ready to use?

[2016-11-01 22:59] ershad989 commented on #16
even though it doesn't support [space] and charaters like [+],
I wrote: "+2 thousand" and it shows "y2ythousand"

[2016-11-01 23:04] ershad989 commented on #16
and there is another limit; if the second word is shorter that the first one, the first one will not show completely. for instance: if we transit form "Washington" to "London" it only shows "Washin"! the letters are equal to London! 6 letters.

[2016-11-02 05:59] coderitual commented on #16
Yep, I am aware of that issues and will try to address them all.

[2016-11-20 08:37] ershad989 commented on #31
Hi, I solved this problem some how but I don't know why it's back again!

here are the codes that I've been using:

`    function number_counter() {

        $(".number-conter").each(function() {
            var el = $(this).find(".odometer"),
                scene = new ScrollMagic.Scene({
                    triggerElement: this,
                    triggerHook: "onEnter"
                })

[2016-11-20 08:54] ershad989 commented on #31
I think this happens because I don't give it the time to complete the animation, If I run cancel after the animation is done the would be no errors!

[2016-11-20 10:50] coderitual commented on #31
Hm, I need to reproduce it. Maybe you are right and this has something to do with canceling ongoing animation. Will check this soon.

[2016-11-28 12:24] coderitual commented on #31
Hi again. I double check that and it seems that canceling (even multiple) animations works just fine:
[code]

What I can see in your example is that you are cancelling only the last odoo instance and to make it work properly you need to cancel each of `.number-conter` odoo instance in `number_counter()` as well.

[2016-11-30 13:15] ershad989 commented on #31
OK, so this is what I have done:

`    function number_counter() {

        $(".number-conter").each(function() {
            var el = $(this).find(".odometer"),
                scene = new ScrollMagic.Scene({
                    triggerElement: this,
                    triggerHook: "onEnter"
                })
                .on("start", function() {
                    el.each(function() {

[2016-11-30 13:15] ershad989 commented on #31
30 thousand errors!!

[2016-11-30 13:24] coderitual commented on #31
Hi, at the moment i can see one misconception in your code:

You are calling `odoo.default` twice in .each function. You should only call it once per element and get cancel method in the first call.

[code]

Could you try it?

[2016-11-30 13:37] ershad989 commented on #31
This solves the the errors on first initiation! but there are 2 more problems:
1 - If I browse to the other page before scrolling down and running the animations these error happen:

![image](https://cloud.githubusercontent.com/assets/15731192/20754145/cf80fe98-b71e-11e6-88e9-c8392eba97dc.png)

 user might browse to the other page before scrolling down!

2 - If I scroll all the way down and let th

[2016-11-30 13:41] ershad989 commented on #31
This was the function that I used:

    function number_counter() {

        $(".number-conter").each(function() {
            var el = $(this).find(".odometer"),
                scene = new ScrollMagic.Scene({
                    triggerElement: this,
                    triggerHook: "onEnter"
                })
                .on("start", function() {
                    el.each(function() {

[2016-11-30 13:51] ershad989 commented on #31
There was just one problem, I said 2 at first it was a mistake and I updated the comment!

[2016-11-30 13:54] coderitual commented on #31
Ah ok. Do you have some published example online so I could see this bug in your setup?

[2016-12-10 12:41] coderitual commented on #31
This should be fixed. Closing.

[2016-12-10 12:41] #31 closed

[2016-12-10 12:43] coderitual commented on #30
Closing due to insufficient details provided.

[2016-12-10 12:43] #30 closed

[2017-06-07 20:15] coderitual opened #37 "Move odoo to Web Components world"
The idea is to implement odoo as a webcomponent.

[2017-10-19 12:29] bartpat opened #39 "Strange kerning effect"
When using proportional font style, displayed number has a strange kerning effect (especially "1" between other chars), because each digit is left aligned in each roulette.

I think that aligning them to center of the roulette should improve look & feel.

[2017-10-19 12:33] bartpat opened #40 "Display static value, without animation"
We need possibility to display odoo as a "static" value, with odoo look/style & digits positioning but without animation - i.e. when `value === initialValue`

[2017-10-19 12:40] coderitual commented on #40
At this point the only way achieving this is to use a static easing function `() => 1`. I will update if I have a better API for such behaviour.

[2017-10-19 12:45] bartpat commented on #39
![obraz](https://user-images.githubusercontent.com/32394938/31771279-c87d4dca-b4db-11e7-9721-4c27d6ea3306.png)

example for the `£1441.60` value

[2017-10-19 13:07] coderitual commented on #39
Thanks for clarity

[2017-11-20 00:10] coderitual commented on #39
This should be fixed as of v.1.1.6 Please confirm. Unfortunately it is done in unoptimised way, due to custom font loading issue.

[2017-11-20 11:01] bartpat commented on #39
Looks OK now:
![obraz](https://user-images.githubusercontent.com/32394938/33015300-8b729214-cdea-11e7-9ddf-2edcdb7fea6f.png)
Thank you!

[2017-11-20 11:01] #39 closed

[2017-11-20 11:18] coderitual commented on #17
Hello, from now on you can use `initialValue`. It is no comprehensive `from` `to` yet, but for your case should be enough. Sorry for late answer.

[2017-11-20 13:44] coderitual opened #43 "Handle font change"
At the moment there is a naive implementation to handle font change in SVG node. Every animation step is responsible to adjust character width and kerning which results in performance impact. Certain API improvements, which affect running update function are also blocked by this issue eg. #40

[2017-11-20 16:52] coderitual commented on #37
Not related atm

[2017-11-20 16:52] #37 closed

[2017-11-20 17:37] coderitual commented on #14
It is quite hard to achieve that without web components lifecycle methods. I am closing now until moved library to webcomponent world or figured out how to control node the other way.

[2017-11-20 17:40] coderitual commented on #14
Could you point me to the similar API you have seen to have a better clue?

[2017-11-20 17:47] kkwiatkowski commented on #14
@coderitual sorry, I can not. Every API I've seen recently does not support such approach.

When you mentioned about issues with lifecycle methods etc, I understood that this is not possible to follow this way unless custom element is introduced.

[2017-11-20 18:07] coderitual commented on #14
Ok, closing then. Thanks for the input!

[2017-11-20 18:07] #14 closed

[2017-11-21 11:28] coderitual commented on #15
Are you sure only one package.json field is required? I assume that the whole project should not be transpiled. The tricky part is the feature heavily used in the library which is proposal only and might not be included anytime soon.

[2017-11-21 19:35] kkwiatkowski commented on #15
Right now it does not look so easy and I'm not sure about it anymore since project has evolved during that time.

I'm not even sure if exposing additional entry point with not transpiled ES6 modules would give any gain just because babel is dealing with it fine.
However if we think about native ES6 modules, it might be worth to introduce ES6 module compatible build with additional ES next entry in

[2017-11-21 20:48] coderitual commented on #15
Closing then, it looks like conceptual discussion rather than a matter of the improvement itself. Thanks.

[2017-11-21 20:48] #15 closed

[2017-12-10 15:01] ctf0 commented on #17
@coderitual am using bounty inside vue & am trying to animate the number inside the `watch()`, is there a way to update the numbers inside bounty without re-init each time ?

[2017-12-10 15:25] ctf0 opened #45 "how to animate the number change without the slot machine effect ?"
so lets say the current number is `7` and the new value is `5` how to make the animation only move from `7 > 5` without the long list animation.

[2017-12-10 17:38] coderitual commented on #17
This is WIP at the moment but I will put the high priority on this. Do you have something against webcomponents? I am considering API and WC would make it easier. I know that using them on prod might be a bit tricky though (es5 adapter).

[2017-12-10 17:41] ctf0 commented on #17
no not really, but actually the vue component was very easy to make ,ex
[code]

[code]

[2017-12-10 17:46] coderitual commented on #45
Sorry, it's not currently possible but sounds like a good idea. The only thing I am thinking about is flexible api to cover such requirement without loosing simplicity. Nevertheless it doesn't seem as a complicated thing to add. Also any contribution is welcome.

[2017-12-10 17:49] ctf0 commented on #45
i believe this is related to the `loop` ? if so, we can simply add a new param to cancel that and the animation should work as usual, or am i over simplifying ?

[2017-12-10 17:56] coderitual commented on #17
Ok got it. I will look at these props.

Two options I am considering:
- returning instance of bounty instead of `cancel` method. Of cource `cancel` will be a part of the returned object.
- internal list of all bounty instances with DOM marker. Executing main function on the node where bounty has been previously applied would result in working on that instance instead of creating a new one. The sam

[2017-12-10 18:09] coderitual commented on #45
I think it is as simple as described. I would rather add two parameters though. One for `direction` (forward|reverse) and something like `roundsCount`. Another more flexible idea would be to allow defining transition function for each letter with some predefinied animations types.

[2017-12-10 18:28] ctf0 commented on #45
for the direction, it could be done on the fly by comparing the `current value vs old`,
another note could be making bounty setting the `old value to current value` after each iteration, this way when the number changes while the animation is still going, you don't get the sudden cut we currently have.

for the transition, could be a function or a simple css easing like the ones in http://easings.

[2017-12-10 18:32] ctf0 commented on #17
👍 , we can also add another method `pause()` which stops the animation mid-way.

this could be used when the values changes while the animation is still going.

[2017-12-10 18:41] coderitual commented on #45
Yea but it could be tricky if you want 1 round in the opposite direction (ie. From 6 to 7 with one whole round). Regarding custom function I was ment something more advanced than easing but maybe it would ve too complicated to customize. I will try to propose something. Also feel free to propose yourself if you have some idea or want to work on it. Just let me know to not duplicate our work :)

[2017-12-10 18:46] coderitual commented on #17
I think we ca go with 1 option. To consider:
To avoid 3 parameters regarding value (initial, value, old) we can change api to allow initial only during creation. After that animation won't start after calling `to` function. Thanks to that another transitions would be nothing but calling `to`

[2017-12-10 18:57] ctf0 commented on #17
good one, so initial will get the animation to play and stop, then for any updates it should be called like `bounty.to(newValue)`

[2017-12-10 19:08] coderitual commented on #17
Yup. Something like that. Event first animation would need calling `to`. This will improve consistency and will resolve another issue I have.

[2017-12-10 19:36] ctf0 commented on #17
mmmm, in that case the bounty instance will be mostly used for options.

and `value / initialValue` will be removed.
initialValue will default to 0 , but from next time on it will take the old value ex
[code]
now you always get a smooth animation from the current to whatever the new value is.

i honestly like this way better so the final usage would be something like
[code]

[2017-12-10 20:09] coderitual commented on #17
That's correct. I think we are on the same page. I will try to create some POC before the end of the week.

[2017-12-11 11:26] ctf0 opened #46 "broken on safari"
on chrome / FF works correctly, on safari this is what it looks like

![screen shot 2017-12-11 at 1 25 21 pm](https://user-images.githubusercontent.com/7388088/33828962-db6fd348-de76-11e7-8d09-b0d680046366.png)

[2017-12-11 13:37] coderitual commented on #46
Do you have some online example? The example from the demo page looks ok to me on safari.

[2017-12-11 13:48] ctf0 commented on #46
safari desktop 10.1.1.

also just retested the bounty demo and its working, not sure why the one in my code doesnt work.

i don't really use safari but i thought there might be a global bug not only on my side,

maybe there are some css that is needed to be available to make sure the animation reacts similarly across browsers ?

[2017-12-11 16:08] coderitual commented on #46
Yes it could be some general problem. Unfortunately without any online example or steps to reproduce it could be hard to fix :(

[2017-12-11 16:12] ctf0 commented on #46
nop, same setup & interaction across all browsers.

[2017-12-11 18:34] coderitual commented on #46
Got it, any chance to share the example or extract the issue somewhere so that I would be able to look at it?

[2017-12-11 18:47] ctf0 commented on #46
its in a package am working on https://github.com/ctf0/Laravel-Media-Manager.

an a side note, is there a way to optimize the animation, i see that it uses svg but chrome is so dam slow and jerky when the page have too many svgs.

[2017-12-11 19:14] coderitual commented on #46
I try to look at this. Regarding perf recently was made some regresion in this terms (bounding rect recalc to handle font change) and once it is done it will be faster. Also turning off a blur effect would help.

[2017-12-11 19:44] #46 closed

[2017-12-11 19:51] coderitual commented on #46
I think atm only messing with svg's id to achieve this. Why closing?

[2017-12-11 19:54] ctf0 commented on #46
the original topic it not needed anymore, updating safari magically fixed the issue.

for the svg optimization, i can open a new ticket if you want to keep track of ?

[2017-12-11 19:55] coderitual commented on #46
Sure, would be great.

[2017-12-11 20:08] ctf0 opened #47 "optimize svg loading "especially for chrome""
chrome is very dump when it comes to svg, as having more than 15 or 20 svg on the same page could simply render a very unpleasant experience.

so as the package atm uses svg + blurring , masking, loop the numbers list at least a couple of times b4 showing the final value, it means that any other animation that happens at the same time will hang a bit.

so we need to find a way to optimize the svg

[2017-12-11 20:11] coderitual commented on #47
Thanks for your feedback and suggestions! I will be investigating possible options to make it more performant at certain circumstances.

[2017-12-12 20:19] ctf0 commented on #47
honestly i wanted to use it in my package, to be part of a big release am cooking.

still np take ur time, but for a start can we get around the long list loop ?

[2017-12-12 20:30] coderitual commented on #47
Yup, I can start from it.

[2017-12-13 20:32] ctf0 opened #48 "remove prefixed 0s"
let's say we have `8` and we go up to `100`,
now if you tried to go back to a one digit number ex. `8` we will end up with `008`.

[2017-12-13 23:38] ctf0 commented on #48
yeah yeah, am just reporting to the things we need to handle in the next releases.

[2018-03-16 22:04] #48 closed

[2018-03-16 22:04] #45 closed

[2018-03-17 12:18] coderitual commented on #47
I reopen as this is part of the future optimization. Sorry I didn't improve it yet. I would leave this though to keep this in mind. Performance especially on mobiles is not satisfying.

[2018-05-02 10:05] genericmilk opened #50 "SVG Attribute heights"
Hi there!

Love Bounty, It's fantastic, I do have a small issue though that I hope you can help with?

I'm trying to run an instance of Bounty in a h1 with position absolute but everytime I run it it kicks out such errors as:
[code]

And by kick out I mean a lot of errors!

I'm trying to run it as follows but it won't initialise. I have bounty elsewhere running fine so I'm wondering if it's to do

[2018-05-02 10:58] coderitual commented on #50
Hi @genericmilk! It's hard to say without any example provided. Bounty takes all computed styles from the element where it is placed (also there shouldn't be any other element inside to avoid overrides). First thing I would check is the lineHeight you have set to 0. Try some big number to test whether is it somehow related. Also if you could extract problematic instance and put it online (on codep

[2018-05-02 11:01] genericmilk commented on #50
Hi @coderitual Thanks so much for getting back to me! The lineheight ended up being the problem, Set it to 1 and it cleared it up.

Thanks for your help again!

[2018-05-02 11:01] #50 closed

[2018-05-02 11:07] coderitual commented on #50
That's cool, I think I should validate options more carefully and provide the user with more comprehensive message in case of error, thanks!

I would also love to see your usage of the library somewhere online!

[2018-05-02 12:45] genericmilk commented on #50
Yeah that's a great idea, It would really help for those who encounter it :)

I'm building it into a charity fundraiser website that raises money for several charities over a live event,  It's a great plugin for showing a change in money raised.

Many thanks for your help again!

[2018-06-06 12:35] francesco-incomedia opened #51 ""initialValue" to "value" does't work well on Firefox"
Hi,
I've noticed that if you use "initialValue" option on Firefox, sometimes some digits disappears. Here a test:

https://codepen.io/anon/pen/ZROMgd

`bounty.default({
        el: '.js-bounty',
        value: '£40,000,000',
        initialValue: '£10,000,000'
})`

The "4" of "£40,000,000" disappears at the end of the animation.

[2018-06-06 12:42] coderitual commented on #51
Hi @francesco-incomedia! Thanks for reporting the problem. It looks like you're right and the problem actually occurs as you described it. I will take a closer look at this

[2018-06-06 12:48] francesco-incomedia commented on #51
@coderitual Thanks! Please let us know

[2018-06-07 12:33] coderitual commented on #51
@francesco-incomedia Hey, there is some bug with motion filter value for the first digit. Not sure yet why there was so big number applied to it. I am quite busy at the moment but I will spend some time today evening trying to fix it.

[2018-06-20 15:17] francesco-incomedia commented on #51
@coderitual any news about this bug?
Thanks!

[2018-06-20 16:23] coderitual commented on #51
@francesco-incomedia Hi! sorry for the long time. Aparently there is another bigger bug I have encountered during this investigation. Not sure whether you saw it:

![2018-06-20_18-21-39](https://user-images.githubusercontent.com/8572321/41671253-da125ff8-74b6-11e8-9a92-24ff4a14c579.gif)

I have a busy time atm and it might be around a week I will fix this. Of course any PR and help would be apprec

[2018-06-23 14:47] coderitual commented on #51
@francesco-incomedia All the issues causing digits to disappear should be fixed now. Both the one you descirbed and another one I've posted above. It's published on npm in version `1.2.0`.

[2018-06-23 19:52] #51 closed

[2018-06-28 15:23] francesco-incomedia commented on #51
Thanks!
Could you please provide me the unminified version of bounty please?

[2018-06-28 21:01] coderitual commented on #51
Np. Did you mean not minified es5? or not minified es6 (source is es6 + staged and experimental features)?

[2018-06-28 21:02] coderitual opened #52 "Provide unminified es5 version of library"

[2018-07-03 07:29] francesco-incomedia opened #53 "Letter spacing and text-shadow on Chrome/Firefox"
Hi,
I've noted that there are some differences between Firefox and Chrome:

CHROME:
![chrome](https://user-images.githubusercontent.com/38134824/42203611-9f8a328c-7e9f-11e8-947b-1785fd688971.png)

FIREFOX:
![firefox](https://user-images.githubusercontent.com/38134824/42203612-9fa41710-7e9f-11e8-9ffd-a1dede2515d7.png)

I've set:

- text-shadow: 3px 3px 11px rgba(255, 0, 0, 1);
- letterSpacing: 10

[2018-07-03 07:33] francesco-incomedia opened #54 "Eplorer compatibility"
Hi,
is there a way to have Internet Explorer compatibility?

On IE 11 there is the following JS error:

[code]

Thanks

[2018-07-03 08:15] coderitual commented on #53
Hi @francesco-incomedia. Yea this is sort of known bug. It's due to the fact draw area of svg crops everything which not belongs to it. I will look later if there is some workaround.

https://slides.com/coderitual/odoo-js#/26

The solution is to extend svg area to allow filters (like shadow) expand but the tricky part is that I don't know what kind of filters user may apply.

[2018-07-03 08:19] coderitual commented on #54
I suppose it comes from Array.from which is not present in IE11. Try to add pollyfill https://developer.mozilla.org/pl/docs/Web/JavaScript/Referencje/Obiekty/Array/from or if this is bigger project you are working on you may use babel-polyfill in your build step.

[2018-07-03 09:37] francesco-incomedia commented on #53
Thanks! svg width seems to solve the problem on the last character. What about the shadow on non-digit characters ("€" in my example)?

Thanks

[2018-07-03 09:40] coderitual commented on #53
I need to check whether it is caused by not enough width of non digit character or rather being covered by an adjacent neighbor.

[2018-07-03 10:50] francesco-incomedia commented on #54
Thanks, it works in both modes!
Unfortunatly text-shadow on IE 11 is lost :(

[2018-07-03 11:23] coderitual commented on #54
no problem. I think IE 11 support is kind of limited :/

[2018-07-03 11:23] #54 closed

[2018-07-06 13:37] francesco-incomedia commented on #53
@coderitual The text-shadow issue on non-digit characters seems to be caused from the applied filter.
It seems that can be solved editing this code

`const createCharacter = (svg, el, fontSize) =>
  svg
    ::append('g')
    ::append('text')
    ::style('filter', `url(#createShadowFailFilter)`)
    ::text(el);`

into this:

`const createCharacter = (svg, el, fontSize) =>
  svg
    ::append('g')

[2018-07-06 14:02] coderitual commented on #53
Thanks for the investigation! I forgot back then I had some shadow issue on some browsers. Could you please create PR for this? I will test on different browsers if it works.

[2018-07-06 14:50] francesco-incomedia commented on #53
Ok, done. Tried on Chrome, Firefox and Safari on iPhone and seems to worls fine.

[2018-07-09 06:54] francesco-incomedia commented on #53
Yes, I've updated the pull request. I can check on Safari (Mac) later.
On Edge there are no text-shadow effects visible (nor with this update and with your original code).

Francesco

[2018-07-09 08:55] francesco-incomedia commented on #53
On Safari seems to be ok too...

[2018-07-09 09:17] coderitual commented on #53
Thanks for the effort :)

[2018-08-23 06:47] francesco-incomedia opened #56 "Text rendering in Chrome"
Hi, I've noticed that on Chrome text has a strange grey border.
It appears on smaller font size and seems to disappears if you zoom the browser page. This doesn't happens on all PCs.

Here the comparison between Firefox and Chrome:

![senza nome](https://user-images.githubusercontent.com/38134824/44509149-16fe8000-a6b1-11e8-8023-e3b6ed8af328.png)

[2018-08-23 07:09] coderitual commented on #56
Thanks! You're right, for some reason motion filter blur (even set to 0) causes this on chrome. I do not know why it is only visible at certain zoom values. I will take a look into this.

[2018-11-29 14:50] rangoo94 opened #57 "Problem with selection"
Tested on Google Chrome 72.0.3617.0 on macOS High Sierra 10.13.6. There are two parts of this problem:

* You can't select a whole number
* When you will select numbers while odometer goes down, it can't be unselected again.

<img width="1202" alt="zrzut ekranu 2018-11-29 o 15 47 33" src="https://user-images.githubusercontent.com/3843526/49229758-7a095c80-f3ee-11e8-808c-0eddac557a5d.png">

[2018-11-29 14:53] coderitual commented on #57
Thank you, will look at this. I think the real issue here is I am not converting animated elements to one text element after animation finished.

[2019-04-29 09:27] genericmilk opened #58 "Pale text rendering in iOS"
Hi there!

HUGE fan of this script and use it in a lot of my projects, It's fab!

I have a slight issue with rendering on iOS, The colour of the font appears pale, As if it were semi transparent. I'm using this to init bounty;

`bounty.default({
            el: '.RevivedRev h1',
            value: '$' + $('.RevivedRev h1').attr('data-rev'),
            initialValue: '$0.00',
            lineHeight

[2019-05-23 22:32] genericmilk commented on #58
On closer inspection it seems to be an issue with the style `filter: url("#motionFilter-x-xxxxxxxxx");` - Safari in general (macOS too) doesn't seem to dump this filter on callback and leaves it enabled resulting in semi transparent text

[2019-05-24 13:15] coderitual commented on #58
Hi, thanks for the feedback. Yea there is a lot of issues related to filters across different browsers. Could attach some screenshots with the issue?

[2019-05-24 13:17] #40 closed

[2019-05-24 13:26] genericmilk commented on #58
Of course! The first screenshot has the issue after the animation, This is Safari 12.1.1 (14607.2.6.1.1) and appears to share the same issue with iOS

<img width="372" alt="Screenshot 2019-05-24 at 14 24 21" src="https://user-images.githubusercontent.com/1846127/58330872-bf539780-7e2f-11e9-8d15-d481b8867727.png">

After removing the motionfilter from the <g> element for the figure it seems to corr

[2019-05-24 14:51] coderitual commented on #58
Uh oh, you are right. I think I saw this before. The solution might be to remove filters after animation finishes. Are you ok to work on a PR fixing this?

[2019-05-25 13:32] genericmilk commented on #58
Sure, I'll see what I can do 👍 Cheers!

[2019-06-01 04:23] flowsandbits commented on #17
Hello there,
Can I use bounty multiply times in one page and set  each digit value individually into new value?

[2019-06-01 07:12] coderitual commented on #17
Hi @flowsandbits. Yes, you can create multiple instances and control them individually. Each call `bounty(...)` creates new object on `el` DOM node. This api is not perfect and it's a subject to change.

[2019-06-06 15:50] flowsandbits commented on #17
@coderitual Thank you, I've tried it and work smoothly ... :D

[2019-06-10 17:03] tylerdcorwin commented on #58
Hey there,

Great script, thanks for sharing!!
I'm having the same issue with the Pale colors, but not entirely sure what you mean by

Could you please elaborate on how I can fix this, or where to look?

Thanks!

[2019-06-10 17:28] coderitual commented on #58
Hi @tylerdcorwin
During animation there are filters applied to all elements which are being moved around (motion blur). This is done by setting specific filter id on particular element https://github.com/coderitual/bounty/blob/44a3735a945b22b1ae307833a58247789a1790d4/src/bounty.js#L13

Value of the motion filter is set to 0 after digit reaches destination (we don’t need motion blur when there is n

[2019-06-10 17:34] tylerdcorwin commented on #58
Ah Gotcha
I'll try resetting the filter attribute after the animation completes,
Thanks for the quick reply @coderitual, and thanks again for the great script!

[2019-06-25 09:29] fredrikekelund commented on #29
For my use case, with 6 instances of bounty running in parallel on a single page, Safari on iOS actually couldn't handle the motion blur effects (the page crashed). Given that the number animation still looks very appealing without the motion blur, I think it would make sense to be able to toggle that somehow. Is there a particular reason that you would rather avoid boolean flags?

[2019-06-25 10:41] coderitual commented on #29
@fredrikekelund my idea was to allow compose motion effects rather than configure them, but at this moment API is more oriented toward configuration (at least without ground rework of the API, which may appear the earliest in the next version.). Are you happy to work on such PR?

[2019-08-08 17:47] JordanFoxy opened #60 "Duration doesn't seem to work"
[code]
When animation starts, it lasts 3 seconds (as by default). It doesn't seem that duration option works.
Tested in Chrome.

[2019-09-01 02:39] orrd commented on #17
@coderitual Was the from/to functionality ever added?

I really like the look of this one, but if it can't do from/to, are there alternatives available?

[2019-09-01 06:43] coderitual commented on #17
@orrd Only partially by `initValue` option.

[2019-10-08 19:36] coderitual commented on #56
@francesco-incomedia Should be fixed by the #61

[2019-10-08 19:36] #56 closed

[2019-10-29 21:23] vitogoh-natgeo commented on #60
i think the author needs to republish the repo. if i install the package using an npm install. the bundled code doesn't have the duration option in the code. if i do `"bounty": "git://github.com/coderitual/bounty.git",` in the package.json, i bundled code has the duration option.

[2019-11-02 14:35] coderitual commented on #60
thanks @vitogoh-natgeo .
@JordanFoxy I published `1.2.2`, please reinstall it should resolve an issue.

[2019-11-03 17:50] #60 closed

[2019-11-08 02:33] #52 closed

[2019-11-11 05:33] irieislaw4 opened #66 "Make the text animation from left to right"
Is there a way that I can change the animation of the numbers/letters from left to right? Because currently it is now from right to left. Thanks in advance

[2019-12-06 20:59] coderitual commented on #66
hey @irieislaw4, sory for late response. Currently you cannot do it but I am always open for any PR in that matter.

[2020-10-16 13:55] osahner opened #72 "Update and or destroy method"
There should be an update method for responsive layouts.
Minimal solution would be a destroy method.

[2020-11-21 14:15] coderitual commented on #72
thanks @osahner , I think it makes sense to revalidate layout and apply new options.

[2021-01-06 16:02] chrishouck-nb commented on #16
I did find a way to address spaces ... in the odoo.js file, add two spaces to the end of the alphabet string

[2021-05-10 14:06] vaxul opened #76 "Accessibility"
Hi, I was looking for a library like this and test it out.

I found out, it doesn't handle screen readers. NVDA with Windows would announce the following text for the [basic example](https://github.com/coderitual/bounty/blob/master/examples/index.html):
[code]

Possible solution for this:
* add `aria-hidden="true"` to the inner `<svg mask="...">` or wrap all in a single `<g aria-hidden="true">` to

[2022-05-06 14:48] coderitual commented on #76
Thanks @vaxul for raising this. I agree with you, component should support providing aria label. I am open for taking PR for this.

[2022-08-29 20:26] lllNuggetslll opened #84 "Letter Spacing doesn't seem to work"
Hello,

Great tool you built here!  I'm currently having a problem with styling the letter spacing.  I can style anything else easily: `font-family`, `font-size`, etc. But, `letter-spacing` values don't affect the output at all: ``.  Any help would be appreciated.  Please let me know if you need any more details.  Thanks!

[2022-09-16 13:37] tmjoen opened #85 "Background for each digit?"
First of all, thanks for a very cool library!

I'm trying to recreate this

<img width="274" alt="image" src="https://user-images.githubusercontent.com/10501945/190651762-de509b77-3199-4b4c-b348-babf436ad00c.png">

but I'm not sure if it's possible to add a background to each digit?